name: Build and deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - uses: actions/checkout@v4

      # Build Docker image
      - name: Build Docker image
        run: docker build -t starlight-dev .

      # Run the container (it executes CMD, i.e., npm run build)
      - name: Build site inside container
        run: docker run --rm -v $GITHUB_WORKSPACE:/app starlight-dev

      # Deploy to GitHub Pages
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
